[Unit]
Description=uWSGI instance for led-box-backend
After=network.target


[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/led-box/led-box-backend
Environment="PATH=/home/pi/led-box/led-box-backend/env/bin"
ExecStart=/home/pi/led-box/led-box-backend/env/bin/uwsgi --ini led_box_backend.ini

[Install]
WantedBy=multi-user.target